.introduction {
  min-height: 100vh;
  @include flex(column, space-around);

  h2 {
    font-size: $big-font;
  }

  button {
    border: none;
    background: $primary;
    padding: 1rem 3rem;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
    &:hover {
      background: lightcoral;
    }
  }
}
